.form-info {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 15px;
}

.form-fields {
  display: flex;
}

.form-field {
  margin: 5px;
  width: 100%;
}

.form-select {
  height: 30px;
}

.form-payment {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 15px;
}

.form-payment p {
  margin-bottom: 0;
}

.form-paymentMethod-container {
  margin-bottom: 35px;
}

.form-radio {
  margin-left: 25px;
}

.form-img {
  margin-left: 8px;
  width: 60px;
}
