.card-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
}

.no-product-container {
  background-color: rgb(31, 31, 31);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  margin-top: 9px;
  width: 1012px;
}

.no-product {
  color: white;
  font-size: 22px;
  text-align: center;
  width: 95%;
}

.no-product-phone {
  border-radius: 6px;
  cursor: pointer;
  margin-top: 50px;
  width: 1012px;
}

.no-product-banners-container {
  display: flex;
  justify-content: space-between;
  width: 1012px;
}

.no-product-banners {
  border: 1px solid rgb(236, 236, 236);
  border-radius: 6px;
  cursor: pointer;
  margin-top: 50px;
  width: 48%;
}

.no-product-ibest-container {
  width: 1012px;
}

.no-product-ibest {
  border: 1px solid rgb(236, 236, 236);
  border-radius: 6px;
  cursor: pointer;
  margin-top: 50px;
  width: 100%;
}
